* {
    box-sizing: border-box;
}

body {
    display: float;
    float: left;
   
}

Nav.Link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}